html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.page-photo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.about-me-photo {
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
  float: left;
  width: 30%;
}

.about-me-text {
  width: 40%;
  margin-top: 10%;
  margin-bottom: 10%;
  float: left;
  color: white;
  font-size: 1.5vw;
}

.photography-photo {
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
  float: right;
  width: 30%;
}

.photography-text {
  width: 40%;
  margin-top: 10%;
  margin-bottom: 10%;
  float: right;
  color: white;
  font-size: 1.5vw;
}

.name {
  display: block;
  margin: 10px;
  font-size: 8vw;
  font: Helvetic Neue;
  font-weight: bold;
  color: #750000;
}

.nav {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 2vw;
  font: Helvetic Neue;
  font-weight: 300;
  color: #bfbfbf;
}

.text {
  color: white;
}

.page-text {
  max-width: 75%;
  color: white;
  font-size: 1.5vw;
  margin-left: auto;
  margin-right: auto;
}

.back-button {
  font: Helvetic Neue;
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #363636;
}

.link {
  color: #636d7d;
}

.linkedin {
  font: Helvetic Neue;
  font-size: 1.5vw;
  color: #636d7d;
}

.social-icons {
  display: inline-block;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  width: 10%;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-bottom: 2%;
  padding: 0;
  overflow: hidden;
  background-color: rgb(15, 15, 15);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

#portrait-div {
  margin-top: 2%;
  width: 100%;
  text-align: center;
}

#page-div {
  width: 100%;
  text-align: center;
}

#about-me-div {
  width: 100%;
  text-align: left;
  display: inline;
}

#photography-div {
  width: 100%;
  text-align: left;
  display: inline;
}